<footer>
    <div class="footer-top">
        <li><a href="#">Liên hệ</a></li>
        <li><a href="#">Tuyển dụng</a></li>
        <li><a href="gioithieu.html">Giới thiệu</a></li>
        <li>
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-youtube"></a>
        </li>
    </div>

    <div class="footer-center" id="tintuc">
        <p>Cửa hàng DCShop với số đăng ký kinh doanh: 0120345678 <br>
            Địa chỉ đăng ký: 32 Lê Lợi, P. Phú Hội, Thành phố Huế - 0123 456 789.<br>
            Đặt hàng online: <b>0123 456 789</b>.
        </p>
    </div>
    <div class="footer-bottom">
        ©DCShop All rights reserved
    </div>
</footer>